<!DOCTYPE html>
<html>
	<head lang="en">
		<title>
			Kingsley Besidonne
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Podkova:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body style="font-family: 'Podkova', serif;" ng-app="myApp" ng-controller="myCtrl">
		<header>
			<div class="jumbotron jumbotron-fluid" style="background-color: #FACE53;">
				<div class="container">
				  <h1 style="text-align: center; color: black;">KINGSLEY BESIDONNE</h1>      
				  <h5 style="text-align: center; color: black;">
					Data Analyst
				  </h5>
				  <p style="text-align: center; color: black;">
					  "Data is a precious thing and will last longer than the systems themselves." - Tim Berners-Lee
				  </p>
				<p style="text-align: center;">
					<a class="btn btn-dark" href="portfolio.html"> View my portfolio </a>
				</p>
				</div>
			  </div>
		</header>

		<!-- Education -->
		<section ng-show="educationShow">
			<h3 style="text-align: center;">Education</h3>
			<br>
			<div  class="container">
				<div class="row">
					<div class="col">
						<div id="accordion">
							<div class="card">
							  <div class="card-header bg-dark">
								<a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: white;">
								  Arizona State University
								</a>
							  </div>
							  <div id="collapseOne" class="collapse show" data-parent="#accordion">
								<div class="card-body">
									<h6>
										Years: 2020 - 2021
									</h6>
									<p></p>
									<h6>
										Degree: MS(BigData Systems). Computer Science
									</h6>
									<p></p>
								</div>
							  </div>
							</div>
						  
							<div class="card">
							  <div class="card-header bg-dark">
								<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color: white;">
								  Ashesi University
								</a>
							  </div>
							  <div id="collapseTwo" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<h6>
										Years: 2016 - 2020
									</h6>
									<h6>
										Degree: Bsc. Computer Science
									</h6>
								</div>
							  </div>
							</div>
							<br>
						  </div>
						  <p style="text-align: right;"><button class="btn btn-outline-dark btn-lg" ng-click="skill()">Skills <i class="fa fa-arrow-right"></i></button></p>
					</div>
				</div>
				
			</div>
		</section>
		<!-- End of Education -->

		<!-- Work Experience-->
		<section ng-show="workShow">
			<div class="container">
				<h3 style="text-align: center;">Work Experience</h3>
				<br>
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h6>
									Company: EdPlus at ASU
								</h6>
								<p></p>
								<h6>
									Years: 06/2020 - 08/2020
								</h6>
								<p></p>
								<h6>
									Responsibilities
								</h6>
								<ul>
									<li>
										Developed an operational dashboard with Google Data Studio with data from Google Analytics, to monitor the speed of the web platform.
									</li>
									<li>
										Designed and developed an operational dashboard prototype with Figma.
									</li>
									<li>
										Told the story of business trends, patterns, and outliers through rich visualizations.
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h6>
									Company: RESVEY LIMITED
								</h6>
								<p></p>
								<h6>
									Years: 10/2018 - 04/2020
								</h6>
								<p></p>
								<h6>
									Responsibilities
								</h6>
								<ul>
									<li>
										Developed a web application using the Laravel PHP framework for food companies in the United Kingdom that improves their food production process.
									</li>
									<li>
										Developed and hosted website for Resvey Limited with HTML, Bulma CSS, Vue.JS.
									</li>
								</ul>

							</div>
						</div>
						<br>
						<p style="text-align: right;"><button class="btn btn-outline-dark btn-lg" ng-click="edu()">Education <i class="fa fa-arrow-right"></i></button></p>
					</div>
				</div>
			</div>
		</section>
		<!-- End Work Experience-->
		
		<!-- Skills -->
		<section ng-show="skillShow">
			<h3 style="text-align: center;">Skills</h3>
			<br>
			<div  class="container">
				<div class="row">
					<div class="col">
						<div id="accordion">
							<div class="card">
							  <div class="card-header bg-dark">
								<a class="card-link" data-toggle="collapse" href="#One" style="color: white;">
								  Programming Languages
								</a>
							  </div>
							  <div id="One" class="collapse show" data-parent="#accordion">
								<div class="card-body">
									<h6>
										Java, JavaScript, Python, PHP
									</h6>
								</div>
							  </div>
							</div>
						  
							<div class="card">
							  <div class="card-header bg-dark">
								<a class="collapsed card-link" data-toggle="collapse" href="#Two" style="color: white;">
								  Front-End
								</a>
							  </div>
							  <div id="Two" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<h6>
										HTML, CSS, Vue.JS, Angular.JS, Bootstrap
									</h6>
								</div>
							  </div>
							</div>
							<div class="card">
							  <div class="card-header bg-dark">
								<a class="collapsed card-link" data-toggle="collapse" href="#Three" style="color: white;">
								  Tools, Databases, and OS
								</a>
							  </div>
							  <div id="Three" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<h6>
										Node.JS, Heroku, Git, GitHub, Windows, macOS, Linux/Unix, Firebase, Pusher, MySQL, PostgreSQL,
										BigQuery, Tableau, Google Data Studio, D3.js, Microsoft Office
									</h6>
								</div>
							  </div>
							</div>							
							<br>
						  </div>
						  <p style="text-align: right;"><button class="btn btn-outline-dark btn-lg" ng-click="work()">Work Experience <i class="fa fa-arrow-right"></i></button></p>
					</div>
				</div>
				 
			</div>
		</section>

				<!-- <section>
			<div class="container">
				<h3 style="text-align: center;">Work Experience</h3>
				<br>
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h6>
									Company: RESVEY LIMITED
								</h6>
								<p></p>
								<h6>
									Years: 10/2018 - 04/2020
								</h6>
								<p></p>
								<h6>
									Responsibilities:
								</h6>
								<ul>
									<li>
										Developed a web application using the Laravel PHP framework for food companies in the United Kingdom that improves their food production process.
									</li>
									<li>
										Leveraged project management software JIRA to track the progress of the project and Git for version control.
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h6>
									Company: MAKEDU CONSULT
								</h6>
								<p></p>
								<h6>
									Years: 06/2018 - 08/2018
								</h6>
								<p></p>
								<h6>
									Responsibilities
								</h6>
								<ul>
									<li>
										Designed front-end of a web application using draw.io and implemented the front-end using HTML and Bootstrap 4.
									</li>
									<li>
										Developed a web application using the Laravel PHP framework for Out of Home advertising companies that improves their billboard booking and client management process.
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<p style="text-align: right;"><button class="btn btn-outline-dark btn-lg">Skills >></button></p>
			</div>
		</section> -->
		<script>
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope) {
				$scope.educationShow = false;
				$scope.workShow = false;
				$scope.skillShow = true;
				$scope.work = function(){
					$scope.educationShow = false;
					$scope.workShow = true;
					$scope.skillShow = false;
				}
				$scope.edu = function(){
					$scope.educationShow = true;
					$scope.workShow = false;
					$scope.skillShow = false;
				}
				$scope.skill = function(){
					$scope.educationShow = false;
					$scope.workShow = false;
					$scope.skillShow = true;
				}
			});
		</script>
	</body>
</html>